<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Test.Properties.Settings.HRMS_DBConnectionString"
            connectionString="Data Source=NUWAN\SQLEXPRESS;Initial Catalog=HRMS_DB;Integrated Security=True"
             
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>